.container {
    --char-width: .8em;
    width: 288px;
    height: 84px;
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    background: rgba(2, 2, 2, 0.2);
    border-radius: var(--radius-3);
    animation-duration: 0.4s;
    animation-name: fadeInDown;
    animation-timing-function: var(--ease-out-1);
}

.container:focus-within {
    outline: 2px solid hsl(199deg, 65%, 73%);
}

.readOnly:focus-within {
    outline: none;
}

.input {
    /* color: transparent;
    caret-color: transparent; */
    opacity: 0;
    /* background-color: var(--blue-8); */
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    /* user-select: none; */
}

/* Sometimes on mobile you can see the text get selected on update. This hides it */
.input::selection {
    background: transparent;
}

.valueContainer {
    display: flex;
    flex-direction: row;
    grid-row-start: 1;
    grid-column-start: 1;
    gap: var(--size-2);
    text-transform: capitalize;
    padding: 0 var(--size-3);
    z-index: var(--layer-2);
}

.char {
    animation-duration: 0.2s;
    animation-name: showChar;
    animation-timing-function: var(--ease-out-1);
    font-size: var(--font-size-8);
    width: var(--char-width)
        /* user-select: none; */
}

@keyframes fadeInDown {
    from {
        margin-top: -8%;
        opacity: 0;
    }

    to {
        margin-top: 0%;
        opacity: 1;
    }
}

@keyframes showChar {
    from {
        margin-left: -3%;
        opacity: 0;
    }

    to {
        margin-left: 0%;
        opacity: 1;
    }
}