.container {
    /* background-color: var(--blue-9); */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--size-4);
    text-align: center;
}

.buttons {
    justify-self: flex-end;
}

.words {
    padding-top: var(--size-4);
    gap: var(--size-4);
    display: flex;
    flex-direction: column;
}